[submodule "Assets/Scripts/Utilities"]
	path = Assets/Scripts/Utilities
	url = https://github.com/CrowControl/Utilities.git
[submodule "Assets/Plugins"]
	path = Assets/Plugins
	url = https://github.com/CrowControl/Plugins.git
